mat-card-content {
  padding: 5px;
  p {
    padding: 2px;
    margin: 0;
  }
}

mat-card-actions {
  button {
    margin: 5px;
  }
}

.card-container {
  padding: 10px;
}

.title-input {
  width: 100%;
}

.data-container {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: lightyellow;
}

.value-label {
  font-weight: bold;
}
