.container {
  border: 1px solid gray;
  width: 100%;
  border-radius: 10px;
  overflow-y: auto;
  position: relative;
  margin: 5px 1px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  height: 100%;

  .expansion-btn-container {
  }

  .exam-body-container {
  }
}

.img {
  max-width: 100%;
}

.disable-clickable {
  pointer-events: none;
}

.show-correct-answer {
  color: white;
  background-color: blue;
}

.show-as-correct-result {
  color: white;
  background-color: green;
}

.show-as-wrong-result {
  color: white;
  background-color: red;
}

.show-title-as-correct-result {
  color: darkgreen;
  font-weight: bold;
}

.show-title-as-wrong-result {
  color: darkred;
}

.item-text {
  margin-top: 15px;
}

.correct-answer-checkbox {
  margin-top: 4px;
}

.direction-right {
  right: 5px;
}
.direction-left {
  left: 5px;
}

.float-buttons {
  position: fixed;
  bottom: 60px;
  z-index: 10000;
  span {
    height: 2px;
  }
}
@media (min-width: 600px) {
  .float-buttons {
    bottom: 70px;
  }
  .direction-right {
    right: 15px;
  }
  .direction-left {
    left: 15px;
  }
}

