<div *ngIf="paginatorData">
  <mat-accordion *ngIf="currentQuestionIndex !== null">
    <mat-expansion-panel *ngFor="let test of stateInfo.stateTestQuestions|slice:
             (paginator.pageIndex*paginator.pageSize):
             ((paginator.pageIndex+1)*paginator.pageSize); let i=index"
                         [expanded]="currentQuestionIndex === i"
                         (opened)="expansionPanelOpen.emit(i)">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ showArrayIndexAsRow ? (i + 1) : test.id | persianNumber }}
          - {{ getQuestionTrPrefix(stateInfo.name, test.id - 1) | translate | persianNumber }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="test.hasImage">
        <img class="img"
             [src]="'assets/images/states-tests/' + stateInfo.name + test.id + '.png'"
             [alt]="stateInfo.name + test.id">
      </div>

      <mat-radio-group (change)="onAnswerChange(test, $event.value)">
        <mat-radio-button class="radio-btn" [ngClass]="{'disable-clickable': !answersClickable}"
                          *ngFor="let answerId of [1, 2, 3, 4]"
                          [value]="answerId"
                          [checked]="(showAnswersKeys && test.correctAnswer === answerId) || test.userAnswer === answerId">
          {{ getAnswerTrPrefix(stateInfo.name, test.id - 1, answerId) | translate | persianNumber }}
        </mat-radio-button>
      </mat-radio-group>

      <mat-action-row>
        <button *ngIf="currentQuestionIndex > 0"
                mat-button color="warn"
                (click)="expansionPanelOpen.emit(currentQuestionIndex - 1)">{{ 'general.previous' | translate }}
        </button>
        <button *ngIf="currentQuestionIndex + 1 < stateInfo.stateTestQuestions.length"
                mat-button color="primary"
                (click)="expansionPanelOpen.emit(currentQuestionIndex + 1)">{{ 'general.next' | translate }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator #paginator
                 [length]="paginatorData.length"
                 [pageIndex]="paginatorData.pageIndex"
                 [pageSize]="paginatorData.pageSize"
                 [pageSizeOptions]="paginatorData.length > 30 ? [10, 30, 60, 100, 150, 300] : [paginatorData.length]"
                 (page)="paginatorDataChange.emit($event)">
  </mat-paginator>
</div>
