<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-form-field style="width: 250px">
        <mat-label>{{'state-name' | translate}}</mat-label>
        <mat-select (selectionChange)="onStateSelectChange($event.value)">
          <mat-option *ngFor="let state of germanStates" [value]="state">
            {{trPrefix + state.name + '.state' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of germanStates[currentStateIndex].stateTests; let i=index"
                         [expanded]="currentQuestionIndex === i">

      <mat-expansion-panel-header>
        <mat-panel-title>{{ item.id }}- {{ trPrefix + (i + 1) + '.question' | translate }}</mat-panel-title>
      </mat-expansion-panel-header>

      <img *ngIf="item.questionImageUrl" [src]="item.questionImageUrl" [alt]="item.questionImageUrl">
      <div *ngFor="let answerId of [1, 2, 3, 4]">
        <mat-checkbox
          [checked]="item.correctAnswer === answerId">{{ trPrefix + (i + 1) + '.answers.' + answerId | translate }}
        </mat-checkbox>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="reviewStatesTestsStateService.setCurrentQuestionIndex(currentQuestionIndex - 1)">Previous
        </button>
        <button mat-button color="primary" (click)="reviewStatesTestsStateService.setCurrentQuestionIndex(currentQuestionIndex + 1)">Next
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
