.container {
  padding: 25px;
}

.card-container {
  padding: 0;
  height: 90px;
  margin-bottom: 15px;
}

.img {
  max-width: 100%;
}

.radio-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
