.container {
  //height: 100%;
}

//.header-container {
//  position: fixed;
//  top: 0;
//  width: 100%;
//  z-index: 10000;
//}

.router-container {
  width: 100%;
  position: fixed;
  top: 56px;
  bottom: 56px;
  overflow-y: auto;
}

@media (min-width: 600px) {
  .router-container {
    top: 64px;
    bottom: 64px;
  }
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}
