.mat-tooltip.tooltip-class {
  font-size: 16px;
  background: yellow;
}

.flag {
  font-size: x-large;
  border-radius: 20%;
}

.menu-item-text {
  margin-left: 10px;
  font-weight: bold;
}

.active-language-btn {
  padding: 0;
}

.active-language {
  border-radius: 20%;
}

span.menu-item-text {
  padding-right: 5px;
}
