<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ pageTitle }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" routerLink="/home"
            (click)="countdownService.stopCountdown()"
            [matTooltip]="'header.go-home' | translate" matTooltipPosition="below">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="'header.active-language' | translate" [matMenuTriggerFor]="menu"
            class="active-language-btn">
      <span [class]="'active-language fi fi-' + countryName"></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
                *ngFor="let item of languageList"
                (click)="changeActiveLanguage(item.language)"
                [matTooltip]="item.caption"
                matTooltipPosition="left">
          <span class="fi fi-{{item.country}} flag"></span>
          <span class="menu-item-text">{{ item.caption }}</span>
        </button>
      </mat-menu>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
