<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ 'title' | translate }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="'header.active-language' | translate" [matMenuTriggerFor]="menu"
            class="active-language-btn">
      <span [class]="'active-language fi fi-' + countryName"></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeActiveLanguage(Language.DE)">
          <span class="fi fi-de flag"></span>
          <span class="menu-item-text">Deutsch</span>
        </button>
        <button mat-menu-item (click)="changeActiveLanguage(Language.EN)">
          <span class="fi fi-gb flag"></span>
          <span class="menu-item-text">English</span>
        </button>
        <button mat-menu-item (click)="changeActiveLanguage(Language.TR)">
          <span class="fi fi-tr flag"></span>
          <span class="menu-item-text">Türkce</span>
        </button>
        <button mat-menu-item (click)="changeActiveLanguage(Language.FA)">
          <span class="fi fi-ir flag"></span>
          <span class="menu-item-text">فارسی</span>
        </button>
      </mat-menu>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
