.btn-container {
  width: 100%;
  height: 100%;
}

.big-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 90%;
  font-size: 20px;
  margin: 10px auto;
  padding: 0;
}

.icon {
  font-size: 90px;
  height: auto;
  width: auto;
}

.btn-caption {
  margin: 10px;
  border: 2px solid red;
}
