.btn-container {
  width: 100%;
}

.big-button {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  font-size: 20px;
}

.icon {
  font-size: 90px;
  height: auto;
  width: 100%;
  border: 2px solid red;
}

.btn-caption {
  margin-top: 10px;
}
