.big-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  padding: 0;

  .icon {
    font-size: 90px;
    height: auto;
    width: auto;
  }

  .btn-caption {
    margin: 15px 5px;
  }
}

@media (min-width: 150px) {
  .big-button {
    width: 140px;
    height: 120px;
    font-size: 12px;
    .icon {
      font-size: 25px;
      margin: 0;
    }
  }
}
@media (min-width: 250px) {
  .big-button {
    width: 240px;
    height: 130px;
    font-size: 14px;
    .icon {
      font-size: 40px;
    }
  }
}
@media (min-width: 320px) {
  .big-button {
    width: 310px;
    height: 125px;
    font-size: 16px;
    .icon {
      font-size: 50px;
    }
  }
}
@media (min-width: 450px) {
  .big-button {
    width: 440px;
    height: 160px;
    font-size: 20px;
    .icon {
      font-size: 60px;
    }
  }
}
@media (min-width: 544px) {
  .big-button {
    width: 530px;
    height: 210px;
    font-size: 22px;
    .icon {
      font-size: 80px;
    }
  }
}
@media (min-width: 768px) {
  .big-button {
    width: 700px;
    height: 190px;
    font-size: 27px;
    .icon {
      font-size: 90px;
    }
  }
}
@media (min-width: 1024px) {
  .big-button {
    width: 800px;
    height: 240px;
    font-size: 30px;
    .icon {
      font-size: 100px;
    }
  }
}
@media (min-width: 1280px) {
  .big-button {
    width: 1100px;
    height: 260px;
    font-size: 40px;
    .icon {
      font-size: 120px;
    }
  }
}
