.container {
  height: 100%;
  margin-top: 15px;
  vertical-align: center;
  border: 2px solid green;

}


.col-container {
  border: 2px solid red;
  height: auto;
}

.btn {
  width: 100%;
  height: 100%;
}
