.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.info-card-container {
  // flex: 0 0 auto;
  margin: 3px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: lightyellow;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

  .info-card-timer {
    margin-top: 15px;
    font-weight: bold;
    color: blue;
  }

  .info-card-title {
    font-weight: bold;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .reason-text {
    margin-top: 10px;
    white-space: normal;
  }

  .result-text {
    white-space: normal;
    margin-top: 10px;
  }

  .result-text p {
    display: inline-block;
    margin-bottom: 0;
  }

  .blinking-text {
    color: darkred;
    animation: blink 2s infinite;
  }
}

.exam-body-container {
  flex: 1;
  overflow-y: hidden;
  margin: 0;
  padding: 5px 5px 10px 5px;
  height: 100%;
}

.expansion-panel-border {
  border: 2px gray solid;
}

.demo-test-title {
  font-weight: bold;
  color: blue;
}

.footer-container {
}

.footer-button {
  margin: 10px 20px 5px 20px;
  font-weight: bold;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.passed {
  color: blue;
}

.failed {
  color: red;
}
