<div class="container">
  <mat-card class="info-card-container">
    <mat-card-content>
      <div class="info-card-title">Demo exam {{ testInfo.id }}: {{ testInfo.title }}</div>
      <div *ngIf="!testInfo.isExamFinished else examFinished"
           class="info-card-timer" [ngClass]="{'blinking-text': testInfo.examTime.minutes < 5}">
        {{ trPrefix + 'time-left' | translate: {remainingTime: UtilService.formatTime(testInfo.examTime)} | persianNumber }}
      </div>
      <ng-template #examFinished>
        <div class="info-card-timer blinking-text">
          {{ trPrefix + 'exam-finished' | translate }}
        </div>

        <div class="info-card-title reason-text">
          {{ trPrefix + 'finish-reason-label' | translate }}{{ trPrefix + 'finish-reason.' + testInfo.finishReason | translate }}
        </div>
        <div class="info-card-title result-text">
          <p>{{ trPrefix + 'exam-result' | translate }}</p>:
          <p [ngClass]="{'passed': correctAnswersCount >= 17, 'failed': correctAnswersCount < 17}">
          {{ trPrefix + (correctAnswersCount >= 17 ? 'passed' : 'failed') | translate: {correctAnswers: correctAnswersCount} }}
        </p>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <div class="exam-body-container">
    <mat-accordion>
      <mat-expansion-panel
        class="expansion-panel-border"
        [expanded]="testInfo.activeQuestionSet === QuestionSetTypeEnum.STATE"
        (opened)="demoTestsStateService.setActiveQuestionsSet(QuestionSetTypeEnum.STATE)">
        <mat-expansion-panel-header>
          <mat-panel-title class="demo-test-title">
            {{ trPrefix + 'state-question-title' | translate }}
            ({{ trPrefixStateName + testInfo.selectedState.name + '.state' | translate }})
          </mat-panel-title>
          <mat-panel-description>{{ trPrefix + 'state-question-description' | translate }}</mat-panel-description>
        </mat-expansion-panel-header>

        <app-questionnaire-list
          *ngIf="testInfo.selectedState"
          [currentQuestionIndex]="testInfo.selectedStateCurrentQuestionIndex"
          [stateInfo]="testInfo.selectedState"
          [paginatorData]="statePaginatorData"
          [trPrefix]="'review-states-tests.german-states.'"
          [showAnswersKeys]="false"
          [showArrayIndexAsRow]="true"
          [answersClickable]="true"
          [showUserResults]="testInfo.isExamFinished"
          (expansionPanelOpen)="onCurrentQuestionChange($event, QuestionSetTypeEnum.STATE)"
          (answerChange)="onStateAnswerChange($event, QuestionSetTypeEnum.STATE)">
        </app-questionnaire-list>

      </mat-expansion-panel>

      <mat-expansion-panel
        class="expansion-panel-border"
        [expanded]="testInfo.activeQuestionSet === QuestionSetTypeEnum.DEUTSCHLAND"
        (opened)="demoTestsStateService.setActiveQuestionsSet(QuestionSetTypeEnum.DEUTSCHLAND)">
        <mat-expansion-panel-header>
          <mat-panel-title class="demo-test-title">{{ trPrefix + 'deutschland-question-title' | translate }}
          </mat-panel-title>
          <mat-panel-description>{{ trPrefix + 'deutschland-question-description' | translate }}</mat-panel-description>
        </mat-expansion-panel-header>

        <app-questionnaire-list
          *ngIf="testInfo.deutschlandState"
          [currentQuestionIndex]="testInfo.deutschlandCurrentQuestionIndex"
          [stateInfo]="testInfo.deutschlandState"
          [paginatorData]="deutschlandPaginatorData"
          [trPrefix]="'review-deutschland-tests.'"
          [showAnswersKeys]="false"
          [showArrayIndexAsRow]="true"
          [answersClickable]="true"
          [showUserResults]="testInfo.isExamFinished"
          (expansionPanelOpen)="onCurrentQuestionChange($event, QuestionSetTypeEnum.DEUTSCHLAND)"
          (answerChange)="onStateAnswerChange($event, QuestionSetTypeEnum.DEUTSCHLAND)">
        </app-questionnaire-list>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="footer-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center">
      <button *ngIf="!testInfo.isExamFinished else showExamResultDetails" fxFlex.sm="50%" fxFlex.md="30%"
              fxFlex.lg="25%"
              fxFlex.xl="15%"
              mat-fab extended color="warn" class="footer-button"
              matTooltipPosition="above" [matTooltip]="trPrefix + 'finish-exam-btn' | translate"
              (click)="onFinishExamClick()">
        <mat-icon>clear</mat-icon>
        {{ trPrefix + 'finish-exam-btn' | translate }}
      </button>
      <ng-template #showExamResultDetails>
        <button fxFlex.sm="50%" fxFlex.md="30%" fxFlex.lg="25%" fxFlex.xl="15%"
                mat-fab extended color="accent" class="footer-button"
                matTooltipPosition="above" [matTooltip]="trPrefix + 'exam-result-details-btn' | translate"
                (click)="onExamResultDetailClick()">
          <mat-icon>list</mat-icon>
          {{ trPrefix + 'exam-result-details-btn' | translate }}
        </button>
      </ng-template>
      <button fxFlex.sm="50%" fxFlex.md="30%" fxFlex.lg="25%" fxFlex.xl="15%"
              mat-fab extended color="primary"
              class="footer-button"
              matTooltipPosition="above" [matTooltip]="trPrefix + 'return-to-list-btn' | translate"
              [routerLink]="'/demo-exams-list'">
        <mat-icon>keyboard_backspace</mat-icon>
        {{ trPrefix + 'return-to-list-btn' | translate }}
      </button>
    </div>
  </div>
</div>
