<div class="container">
  <mat-card class="info-card-container">
    <mat-card-content>
      <div class="info-card-title">Demo exam {{ testInfo.id }}: {{ testInfo.title }}</div>
      <div *ngIf="!testInfo.isExamFinished else examFinished"
           class="info-card-timer" [ngClass]="{'blinking-text': testInfo.examTime.minutes < 5}">
        {{ trPrefix + 'time-left' | translate: {remainingTime: UtilService.formatTime(testInfo.examTime)} | persianNumber }}
      </div>
      <ng-template #examFinished>
        <div class="info-card-timer blinking-text">
          {{ trPrefix + 'exam-finished' | translate }}
        </div>

        <div class="info-card-title reason-text">
          {{ trPrefix + 'finish-reason-label' | translate }}{{ trPrefix + 'finish-reason.' + testInfo.finishReason | translate }}
        </div>
        <div class="info-card-title result-text">
          <p>{{ trPrefix + 'exam-result' | translate }}</p>:
          <p [ngClass]="{'passed': correctAnswersCount >= 17, 'failed': correctAnswersCount < 17}">
          {{ trPrefix + (correctAnswersCount >= 17 ? 'passed' : 'failed') | translate: {correctAnswers: correctAnswersCount} }}
        </p>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <div class="exam-body-container">
    <app-questionnaire-list
      [currentQuestionIndex]="testInfo.currentQuestionIndex"
      [selectedStateName]="testInfo.selectedState"
      [questions]="testInfo.examQuestions"
      [paginatorData]="statePaginatorData"
      [trPrefix]="'review-states-tests.german-states.'"
      [showAnswersKeys]="false"
      [showArrayIndexAsRow]="true"
      [answersClickable]="true"
      [isDemoExam]="true"
      [showUserResults]="testInfo.isExamFinished"
      (expansionPanelOpen)="onCurrentQuestionChange($event)"
      (answerChange)="onStateAnswerChange($event)">
    </app-questionnaire-list>

    <div class="footer-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center">
      <button *ngIf="!testInfo.isExamFinished else showExamResultDetails" fxFlex.sm="50%" fxFlex.md="30%"
              fxFlex.lg="25%"
              fxFlex.xl="15%"
              mat-fab extended color="warn" class="footer-button"
              matTooltipPosition="above" [matTooltip]="trPrefix + 'finish-exam-btn' | translate"
              (click)="onFinishExamClick()">
        <mat-icon>clear</mat-icon>
        {{ trPrefix + 'finish-exam-btn' | translate }}
      </button>
      <ng-template #showExamResultDetails>
        <button fxFlex.sm="50%" fxFlex.md="30%" fxFlex.lg="25%" fxFlex.xl="15%"
                mat-fab extended color="accent" class="footer-button"
                matTooltipPosition="above" [matTooltip]="trPrefix + 'exam-result-details-btn' | translate"
                (click)="onExamResultDetailClick()">
          <mat-icon>list</mat-icon>
          {{ trPrefix + 'exam-result-details-btn' | translate }}
        </button>
      </ng-template>
      <button fxFlex.sm="50%" fxFlex.md="30%" fxFlex.lg="25%" fxFlex.xl="15%"
              mat-fab extended color="primary"
              class="footer-button"
              matTooltipPosition="above" [matTooltip]="trPrefix + 'return-to-list-btn' | translate"
              [routerLink]="'/demo-exams-list'">
        <mat-icon>keyboard_backspace</mat-icon>
        {{ trPrefix + 'return-to-list-btn' | translate }}
      </button>
    </div>
  </div>
</div>
