<div class="container">
  <mat-card class="card-container">
    <mat-card-content>
      <mat-list class="horizontal-list">
        <mat-list-item>
          <mat-slide-toggle class="mat-slide-toggle" [checked]="showAnswersKeys" [matTooltip]="'general.show-answer-keys' | translate"
                            (change)="reviewDeutschlandQuestionsStateService.setShowAnswersKeys($event.checked)">
            {{ 'general.show-answer-keys' | translate }}
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <app-questionnaire-list
    *ngIf="selectedStateInfo"
    [currentQuestionIndex]="reviewDeutschlandQuestionsStateService.currentQuestionIndex$ | async"
    [paginatorData]="reviewDeutschlandQuestionsStateService.paginatorData$ | async"
    [selectedStateName]="selectedStateInfo.name"
    [questions]="selectedStateInfo.stateTestQuestions"
    [showAnswersKeys]="showAnswersKeys"
    [trPrefix]="'review-deutschland-tests.'"
    (expansionPanelOpen)="reviewDeutschlandQuestionsStateService.setCurrentQuestionIndex($event)"
    (paginatorDataChange)="reviewDeutschlandQuestionsStateService.setPaginatorData($event)">
  </app-questionnaire-list>
</div>
