.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0 10px 0 10px;
}

.info-card-container {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid gray;
  background-color: lightyellow;
}

.info-card-timer {
  margin-top: 15px;
  font-weight: bold;
  color: blue;
}

.info-card-title {
  font-weight: bold;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.reason-text {
  margin-top: 10px;
  white-space: normal;
}

.exam-body-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0;
}

.expansion-panel-border {
  border: 2px gray solid;
}

.demo-test-title {
  font-weight: bold;
  color: blue;
}

.footer-container {
}

.footer-button {
  margin: 10px 20px 5px 20px;
  font-weight: bold;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  color: darkred;
  animation: blink 1s infinite;
}

