<div class="container" *ngIf="demoExamsList">
  <div class="options-box-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'demo-exams-list.options.title' | translate }}</mat-panel-title>
          <mat-panel-description>{{ 'demo-exams-list.options.description' | translate }}</mat-panel-description>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="demoExamsList" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="table-title-row">{{ trPrefixTable + 'id' | translate }}</th>
        <td mat-cell *matCellDef="let element" class="table-title-row"
            [ngClass]="getTableCaptionStyle(element.isExamFinished, element.correctAnswered)">
          {{ element.id | persianNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell fxShow fxHide.xs *matHeaderCellDef matTooltipPosition="above"
            [matTooltip]="trPrefixTable + 'title' | translate">
          {{ trPrefixTable + 'title' | translate }}
        </th>
        <td mat-cell fxShow fxHide.xs *matCellDef="let element" class="no-wrap"
            [ngClass]="getTableCaptionStyle(element.isExamFinished, element.correctAnswered)"
            matTooltipPosition="above" [matTooltip]="element.title | persianNumber">
          {{ element.title | persianNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell fxShow fxHide.lt-md *matHeaderCellDef matTooltipPosition="above"
            class="table-title-row" [matTooltip]="trPrefixTable + 'selected-state' | translate">
          {{ trPrefixTable + 'selected-state' | translate }}
        </th>
        <td mat-cell fxShow fxHide.lt-md *matCellDef="let element"
            class="table-title-row" matTooltipPosition="above" [matTooltip]="element.state">
          {{ 'review-states-tests.german-states.' + element.selectedState.name + '.state' | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="examTime">
        <th mat-header-cell fxShow fxHide.lt-sm class="table-title-row" *matHeaderCellDef matTooltipPosition="above"
            [matTooltip]="trPrefixTable + 'remaining-time' | translate">
          {{ trPrefixTable + 'remaining-time' | translate }}
        </th>
        <td mat-cell fxShow fxHide.lt-sm *matCellDef="let element" class="table-title-row"
            [ngClass]="getTableCaptionStyle(element.isExamFinished, element.correctAnswered)">
          {{ UtilService.formatTime(element.examTime) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isExamFinished">
        <th mat-header-cell *matHeaderCellDef class="table-title-row" matTooltipPosition="above"
            [matTooltip]="trPrefixTable + 'done' | translate">
          {{ trPrefixTable + 'done' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="table-title-row" matTooltipPosition="above"
            [matTooltip]="element.isExamFinished ?
            (trPrefixTable + (element.correctAnswered >= 17 ? 'passed' : 'failed') | translate: {correctAnswers: element.correctAnswered} | persianNumber) :
            trPrefixTable + 'exam-not-finished-yet' | translate">
          <mat-checkbox class="finished-checkbox"
                        [checked]="element.isExamFinished"
                        [color]="element.correctAnswered >= 17 ? 'primary' : 'warn'">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="correctAnswered">
        <th mat-header-cell fxShow fxHide.lt-lg *matHeaderCellDef class="table-title-row-scores"
            matTooltipPosition="above" [matTooltip]="trPrefixTable + 'correct-answers' | translate">
          {{ trPrefixTable + 'correct-answers' | translate }}
        </th>
        <td mat-cell fxShow fxHide.lt-lg *matCellDef="let element" class="table-title-row-scores"
            [ngClass]="getTableCaptionStyle(element.isExamFinished, element.correctAnswered)">
          {{ element.isExamFinished ? (element.correctAnswered | persianNumber) : '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="incorrectAnswered">
        <th mat-header-cell fxShow fxHide.lt-lg *matHeaderCellDef class="table-title-row-scores"
            matTooltipPosition="above" [matTooltip]="trPrefixTable + 'incorrect-answers' | translate">
          {{ trPrefixTable + 'incorrect-answers' | translate }}
        </th>
        <td mat-cell fxShow fxHide.lt-lg *matCellDef="let element" class="table-title-row-scores"
            [ngClass]="getTableCaptionStyle(element.isExamFinished, element.correctAnswered)">
          {{ element.isExamFinished ? (element.incorrectAnswered | persianNumber) : '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell fxShow fxHide.lt-sm *matHeaderCellDef class="table-title-score" matTooltipPosition="above"
            [matTooltip]="trPrefixTable + 'score' | translate">
          {{ trPrefixTable + 'score' | translate }}
        </th>
        <td mat-cell fxShow fxHide.lt-sm *matCellDef="let element" class="table-title-score"
            [ngClass]="getTableCaptionStyle(element.isExamFinished, element.correctAnswered)">
          {{ element.isExamFinished ? (getScore(element.correctAnswered) | number: '2.0-2' | persianNumber) : '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell fxShow fxHide.lt-lg fxHide.lg *matHeaderCellDef class="table-title-row-dates"
            matTooltipPosition="above" [matTooltip]="trPrefixTable + 'created' | translate">
          {{ trPrefixTable + 'created' | translate }}
        </th>
        <td mat-cell fxShow fxHide.lt-lg fxHide.lg *matCellDef="let element" class="table-title-row-dates"
            [ngClass]="getTableCaptionStyle(element.isExamFinished, element.correctAnswered)">
          {{ element.dateCreated | dateFormat }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateLastModified">
        <th mat-header-cell fxShow fxHide.lt-lg *matHeaderCellDef class="table-title-row-dates"
            matTooltipPosition="above" [matTooltip]="trPrefixTable + 'modified' | translate">
          {{ trPrefixTable + 'modified' | translate }}
        </th>
        <td mat-cell fxShow fxHide.lt-lg *matCellDef="let element" class="table-title-row-dates"
            [ngClass]="getTableCaptionStyle(element.isExamFinished, element.correctAnswered)">
          {{ element.dateLastModified | dateFormat }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="table-title-row" matTooltipPosition="above"
            [matTooltip]="trPrefixTable + 'edit' | translate">
          {{ trPrefixTable + 'edit' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="table-title-row">
          <button mat-mini-fab color="primary" matTooltipPosition="above"
                  [matTooltip]="trPrefixTable + 'edit-test' | translate: {testId: element.id} | persianNumber"
          (click)="onUpdateOrResetClick(element); $event.stopPropagation()">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="table-title-row" matTooltipPosition="above"
            [matTooltip]="trPrefixTable + 'delete' | translate">
          {{ trPrefixTable + 'delete' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="table-title-row">
          <button mat-mini-fab color="warn" matTooltipPosition="above"
                  [matTooltip]="trPrefixTable + 'delete-test' | translate: {testId: element.id} | persianNumber"
          (click)="onDeleteClick(element.id); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" (click)="onSelectedTestClick(row)">
      </tr>
    </table>
  </div>
</div>

<button mat-fab extended color="primary" class="add-button"
        [ngClass]="{'direction-right': translate.currentLang !== 'fa', 'direction-left': translate.currentLang === 'fa'}"
        matTooltipPosition="above" [matTooltip]="trPrefixTable + 'add-test' | translate"
        (click)="onCreateExamClick()">
  <mat-icon>add</mat-icon>
  {{ trPrefixTable + 'add-test' | translate }}
</button>
