/* You can add global styles to this file, and also import other style files */
:root {
  --size-min-10: 12px;
  --size-min-150: 14px;
  --size-min-320: 16px;
  --size-min-544: 18px;
  --size-min-768: 20px;
  --size-min-1024: 20px;
  --size-min-1280: 20px;
  --size-min-1536: 20px;
  --size-min-1920: 20px;
  --size-min-2560: 20px;
  --size-min-6500: 26px;
  --btn-threshold: 2px;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mat-mdc-tooltip {
  font-size: 14px;
}

.mdc-tooltip__surface {
  //letter-spacing: -0.5px!important;
  //border: 1px solid #333!important;
  //background: lightyellow!important;
  //color: black!important;
  font-size: large !important;
  padding: 10px !important;
  z-index: 100000!important;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-mdc-paginator, .mat-mdc-slide-toggle .mdc-label {
  --mat-slide-toggle-label-text-weight: bold;
  //--mat-paginator-container-text-weight: bold;
}

@media (min-width: 10px) {
  .dialog-responsive {
    width: 90px;
  }
  .info-card-title {
    font-size: var(--size-min-10);
  }
  .info-card-timer {
    font-size: 24px;
  }
  .mat-column-title {
    max-width: 40px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-10) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-10);
    --mat-paginator-container-text-size: var(--size-min-10);
    --mat-expansion-header-text-size: var(--size-min-10);
    --mat-table-row-item-label-text-size: var(--size-min-10);
    --mat-table-header-headline-size: calc(var(--size-min-10) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-10);
  }
}

@media (min-width: 150px) {
  .dialog-responsive {
    width: 150px;
  }
  .info-card-title {
    font-size: var(--size-min-150);
  }
  .info-card-timer {
    font-size: 25px;
  }
  .mat-column-title {
    max-width: 60px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-150) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-150);
    --mat-paginator-container-text-size: var(--size-min-150);
    --mat-expansion-header-text-size: var(--size-min-150);
    --mat-table-row-item-label-text-size: var(--size-min-150);
    --mat-table-header-headline-size: calc(var(--size-min-150) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-150);
  }
}
@media (min-width: 320px) {
  .dialog-responsive {
    width: 310px;
  }
  .info-card-title {
    font-size: var(--size-min-320);
  }
  .info-card-timer {
    font-size: 26px;
  }
  .mat-column-title {
    max-width: 90px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-320) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-320);
    --mat-paginator-container-text-size: var(--size-min-320);
    --mat-expansion-header-text-size: var(--size-min-320);
    --mat-table-row-item-label-text-size: var(--size-min-320);
    --mat-table-header-headline-size: calc(var(--size-min-320) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-320);
  }
}
@media (min-width: 450px) {
  .dialog-responsive {
    width: 450px;
  }
}
@media (min-width: 544px) {
  .dialog-responsive {
    width: 560px;
  }
  .info-card-title {
    font-size: var(--size-min-544);
  }
  .info-card-timer {
    font-size: 28px;
  }
  .mat-column-title {
    max-width: 120px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-544) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-544);
    --mat-paginator-container-text-size: var(--size-min-544);
    --mat-expansion-header-text-size: var(--size-min-544);
    --mat-table-row-item-label-text-size: var(--size-min-544);
    --mat-table-header-headline-size: calc(var(--size-min-544) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-544);
  }
}
@media (min-width: 768px) {
  .dialog-responsive {
    width: 750px;
  }
  .info-card-title {
    font-size: var(--size-min-768);
  }
  .info-card-timer {
    font-size: 28px;
  }
  .mat-column-title {
    max-width: 150px;
    min-width: 150px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-768) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-768);
    --mat-paginator-container-text-size: var(--size-min-768);
    --mat-expansion-header-text-size: var(--size-min-768);
    --mat-table-row-item-label-text-size: var(--size-min-768);
    --mat-table-header-headline-size: calc(var(--size-min-768) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-768);
  }
}
@media (min-width: 1024px) {
  .dialog-responsive {
    width: 800px;
  }
  .info-card-title {
    font-size: var(--size-min-1024);
  }
  .info-card-timer {
    font-size: 29px;
  }
  .mat-column-title {
    max-width: 160px;
    min-width: 160px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-1024) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-1024);
    --mat-paginator-container-text-size: var(--size-min-1024);
    --mat-expansion-header-text-size: var(--size-min-1024);
    --mat-table-row-item-label-text-size: var(--size-min-1024);
    --mat-table-header-headline-size: calc(var(--size-min-1024) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-1024);
  }
}
@media (min-width: 1280px) {
  .dialog-responsive {
    width: 850px;
  }
  .info-card-title {
    font-size: var(--size-min-1280);
  }
  .info-card-timer {
    font-size: 30px;
  }
  .mat-column-title {
    max-width: 190px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-1280) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-1280);
    --mat-paginator-container-text-size: var(--size-min-1280);
    --mat-expansion-header-text-size: var(--size-min-1280);
    --mat-table-row-item-label-text-size: var(--size-min-1280);
    --mat-table-header-headline-size: calc(var(--size-min-1280)  - 2px);
    --mat-toolbar-title-text-size: var(--size-min-1280);
  }
}
@media (min-width: 1536px) {
  .dialog-responsive {
    width: 850px;
  }
  .info-card-title {
    font-size: var(--size-min-1536);
  }
  .info-card-timer {
    font-size: 31px;
  }
  .mat-column-title {
    max-width: 220px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-1536) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-1536);
    --mat-paginator-container-text-size: var(--size-min-1536);
    --mat-expansion-header-text-size: var(--size-min-1536);
    --mat-table-row-item-label-text-size: var(--size-min-1536);
    --mat-table-header-headline-size: calc(var(--size-min-1536) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-1536);
  }
}
@media (min-width: 1920px) {
  .dialog-responsive {
    width: 900px;
  }
  .info-card-title {
    font-size: var(--size-min-1920);
  }
  .info-card-timer {
    font-size: 32px;
  }
  .mat-column-title {
    max-width: 300px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-1920) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-1920);
    --mat-paginator-container-text-size: var(--size-min-1920);
    --mat-expansion-header-text-size: var(--size-min-1920);
    --mat-table-row-item-label-text-size: var(--size-min-1920);
    --mat-table-header-headline-size: calc(var(--size-min-1920) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-1920);
  }
}
@media (min-width: 2560px) {
  .dialog-responsive {
    width: 900px;
  }
  .info-card-title {
    font-size: var(--size-min-2560);
  }
  .info-card-timer {
    font-size: 33px;
  }
  .mat-column-title {
    max-width: 400px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-2560) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-2560);
    --mat-paginator-container-text-size: var(--size-min-2560);
    --mat-expansion-header-text-size: var(--size-min-2560);
    --mat-table-row-item-label-text-size: var(--size-min-2560);
    --mat-table-header-headline-size: calc(var(--size-min-2560) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-2560);
  }
}
@media (min-width: 6500px) {
  .dialog-responsive {
    width: 900px;
  }
  .info-card-title {
    font-size: var(--size-min-6500);
  }
  .info-card-timer {
    font-size: 34px;
  }
  .mat-column-title {
    max-width: 500px;
  }
  .mat-toolbar, .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: calc(var(--size-min-6500) - var(--btn-threshold));
    --mat-slide-toggle-label-text-size: var(--size-min-6500);
    --mat-paginator-container-text-size: var(--size-min-6500);
    --mat-expansion-header-text-size: var(--size-min-6500);
    --mat-table-row-item-label-text-size: var(--size-min-6500);
    --mat-table-header-headline-size: calc(var(--size-min-6500) - 2px);
    --mat-toolbar-title-text-size: var(--size-min-6500);
  }
}
