/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.mat-mdc-tooltip {
  font-size: 14px;
}

.mdc-tooltip__surface {
  //letter-spacing: -0.5px!important;
  //border: 1px solid #333!important;
  //background: lightyellow!important;
  //color: black!important;
  font-size: large !important;
  padding: 10px !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-mdc-paginator, .mat-mdc-slide-toggle .mdc-label {
  --mat-slide-toggle-label-text-weight: bold;
  //--mat-paginator-container-text-weight: bold;
}

@media (min-width:10px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 7px;
    --mat-slide-toggle-label-text-size: 7px;
    --mat-paginator-container-text-size: 7px
  }
}
@media (min-width:150px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 11px;
    --mat-slide-toggle-label-text-size: 11px;
    --mat-paginator-container-text-size: 11px
  }
}
@media (min-width:320px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 12px;
    --mat-slide-toggle-label-text-size: 12px;
    --mat-paginator-container-text-size: 12px
  }
}
@media (min-width:544px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 14px;
    --mat-slide-toggle-label-text-size: 14px;
    --mat-paginator-container-text-size: 14px
  }
}
@media (min-width:768px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 15px;
    --mat-slide-toggle-label-text-size: 15px;
    --mat-paginator-container-text-size: 15px
  }
}
@media (min-width:1024px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 16px;
    --mat-slide-toggle-label-text-size: 16px;
    --mat-paginator-container-text-size: 16px
  }
}
@media (min-width:1280px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 17px;
    --mat-slide-toggle-label-text-size: 17px;
    --mat-paginator-container-text-size: 17px
  }
}
@media (min-width:1536px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 18px;
    --mat-slide-toggle-label-text-size: 18px;
    --mat-paginator-container-text-size: 18px
  }
}
@media (min-width:1920px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 19px;
    --mat-slide-toggle-label-text-size: 19px;
    --mat-paginator-container-text-size: 19px
  }
}
@media (min-width:2560px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 20px;
    --mat-slide-toggle-label-text-size: 20px;
    --mat-paginator-container-text-size: 20px
  }
}
@media (min-width:6500px) {
  .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field>label {
    font-size: 24px;
    --mat-slide-toggle-label-text-size: 24px;
    --mat-paginator-container-text-size: 24px
  }
}
