/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.mat-mdc-tooltip {
  font-size: 14px;
}

.mdc-tooltip__surface {
  //letter-spacing: -0.5px!important;
  //border: 1px solid #333!important;
  //background: lightyellow!important;
  //color: black!important;
  font-size: large !important;
  padding: 10px !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-mdc-paginator, .mat-mdc-slide-toggle .mdc-label {
  --mat-slide-toggle-label-text-weight: bold;
  //--mat-paginator-container-text-weight: bold;
}

@media (min-width: 100px) {
  .info-card-title {
    font-size: 14px;
  }
  .info-card-timer {
    font-size: 24px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 7px;
    --mat-slide-toggle-label-text-size: 7px;
    --mat-paginator-container-text-size: 7px;
    --mat-expansion-header-text-size: 7px;
    --mat-table-row-item-label-text-size: 7px;
    --mat-table-header-headline-size: 7px;
  }
}

@media (min-width: 150px) {
  .info-card-title {
    font-size: 15px;
  }
  .info-card-timer {
    font-size: 25px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 11px;
    --mat-slide-toggle-label-text-size: 11px;
    --mat-paginator-container-text-size: 11px;
    --mat-expansion-header-text-size: 11px;
    --mat-table-row-item-label-text-size: 11px;
    --mat-table-header-headline-size: 11px;
  }
}

@media (min-width: 320px) {
  .info-card-title {
    font-size: 16px;
  }
  .info-card-timer {
    font-size: 26px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 12px;
    --mat-slide-toggle-label-text-size: 12px;
    --mat-paginator-container-text-size: 12px;
    --mat-expansion-header-text-size: 12px;
    --mat-table-row-item-label-text-size: 12px;
    --mat-table-header-headline-size: 12px;
  }
}

@media (min-width: 544px) {
  .info-card-title {
    font-size: 17px;
  }
  .info-card-timer {
    font-size: 28px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 14px;
    --mat-slide-toggle-label-text-size: 14px;
    --mat-paginator-container-text-size: 14px;
    --mat-expansion-header-text-size: 14px;
    --mat-table-row-item-label-text-size: 14px;
    --mat-table-header-headline-size: 14px;
  }
}

@media (min-width: 768px) {
  .info-card-title {
    font-size: 18px;
  }
  .info-card-timer {
    font-size: 28px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 15px;
    --mat-slide-toggle-label-text-size: 15px;
    --mat-paginator-container-text-size: 15px;
    --mat-expansion-header-text-size: 15px;
    --mat-table-row-item-label-text-size: 15px;
    --mat-table-header-headline-size: 15px;
  }
}

@media (min-width: 1024px) {
  .info-card-title {
    font-size: 19px;
  }
  .info-card-timer {
    font-size: 29px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 16px;
    --mat-slide-toggle-label-text-size: 16px;
    --mat-paginator-container-text-size: 16px;
    --mat-expansion-header-text-size: 16px;
    --mat-table-row-item-label-text-size: 16px;
    --mat-table-header-headline-size: 16px;
  }
}

@media (min-width: 1280px) {
  .info-card-title {
    font-size: 20px;
  }
  .info-card-timer {
    font-size: 30px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 17px;
    --mat-slide-toggle-label-text-size: 17px;
    --mat-paginator-container-text-size: 17px;
    --mat-expansion-header-text-size: 17px;
    --mat-table-row-item-label-text-size: 17px;
    --mat-table-header-headline-size: 17px;
  }
}

@media (min-width: 1536px) {
  .info-card-title {
    font-size: 21px;
  }
  .info-card-timer {
    font-size: 31px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 18px;
    --mat-slide-toggle-label-text-size: 18px;
    --mat-paginator-container-text-size: 18px;
    --mat-expansion-header-text-size: 18px;
    --mat-table-row-item-label-text-size: 18px;
    --mat-table-header-headline-size: 18px;
  }
}

@media (min-width: 1920px) {
  .info-card-title {
    font-size: 22px;
  }
  .info-card-timer {
    font-size: 32px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 19px;
    --mat-slide-toggle-label-text-size: 19px;
    --mat-paginator-container-text-size: 19px;
    --mat-expansion-header-text-size: 19px;
    --mat-table-row-item-label-text-size: 19px;
    --mat-table-header-headline-size: 19px;
  }
}

@media (min-width: 2560px) {
  .info-card-title {
    font-size: 23px;
  }
  .info-card-timer {
    font-size: 33px;
  }
  .timer-box-text .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 20px;
    --mat-slide-toggle-label-text-size: 20px;
    --mat-paginator-container-text-size: 20px;
    --mat-expansion-header-text-size: 20px;
    --mat-table-row-item-label-text-size: 20px;
    --mat-table-header-headline-size: 20px;
  }
}

@media (min-width: 6500px) {
  .info-card-title {
    font-size: 24px;
  }
  .info-card-timer {
    font-size: 34px;
  }
  .mat-mdc-card-content, .mat-expansion-panel-header, .mat-mdc-header-row, .mat-mdc-row, .mdc-data-table__content, .mat-mdc-paginator, .mdc-button .mdc-button__label, .mat-mdc-slide-toggle .mdc-label, mat-panel-title, .mdc-form-field > label {
    font-size: 24px;
    --mat-slide-toggle-label-text-size: 24px;
    --mat-paginator-container-text-size: 24px;
    --mat-expansion-header-text-size: 24px;
    --mat-table-row-item-label-text-size: 24px;
    --mat-table-header-headline-size: 24px;
  }
}
