.container {
  padding: 7px;
}

.options-box-container {
  margin-left: 3px;
  margin-right: 3px;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
}

.horizontal-list mat-list-item {
  height: 70px;
}

.select-form-field {
  width: 100%;
}

